<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
// Load the Visualization API and the piechart package.
google.load('visualization', '1.0', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawChart);

// Callback that creates and populates a data table,
// instantiates the pie chart, passes in the data and
// draws it.
function drawChart() {

// Create the data table.
var data = new google.visualization.arrayToDataTable([
['Tag', 'Tag Number'],
['竜人', 6620],
['獣人化', 876],
['獣人', 65751],
['獣', 193510],
['巨ケモ', 1169],
['人外', 53471],
['乗りケモ', 15],
['モンスター娘', 10547],
['メスケモ', 23996],
['デブケモ', 6898],
['チビケモ', 3189],
['ケモ足', 24],
['ケモ百合', 260],
['ケモロリ', 3515],
['ケモロボ', 786],
['ケモホモ', 7172],
['ケモノ', 157398],
['ケモナー', 1699],
['ケモドラ', 51],
['オスケモ', 4254],
['ふたけも', 425],
['ふぁーどら', 37],
['けもりゅう', 194],
['けもの', 5773],
['けもにょ', 326],
['transfur', 4312],
['furry', 6130],
['TF', 51950]
]);
// Set chart options
var options = {'title':'Pixiv Tag Data',
'width':400,
'height':300};

// Instantiate and draw our chart, passing in some options.
var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
chart.draw(data, options);
}    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <h1>Home Page</h1>
    <p>Pixivのタグ数を調べてみる。</p>
    <form method="post" action="/">
      <table>
        <tr>
          <th>タグ：</th>
          <td><input type="text" name="name" /></td>
        </tr>
        <tr><th></th>
          <td><input type="submit" value="送信" /></td>
	</tr>
      </table>
    <hr />
    <div id="chart_div"></div>
    <hr />
  </body>
</html>
